<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itude.mobile.kitchensink"
    android:versionCode="1"
    android:versionName="0.0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.itude.mobile.kitchensink.ApplicationController"
        android:debuggable="true"
        android:largeHeap="true" android:theme="@style/AppTheme">
        <activity
            android:name="com.itude.mobile.mobbl2.client.core.MBSplashScreen"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itude.mobile.mobbl2.client.core.controller.MBViewManager"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.itude.mobile.mobbl2.client.core.controller.MBPhoneViewManager"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.itude.mobile.mobbl2.client.core.controller.MBTabletViewManager"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- the default searchable Activity for the whole app -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.itude.mobile.mobbl2.client.core.controller.MBViewManager" />

        <!-- the content provider for progressive search -->
        <provider
            android:name="com.itude.mobile.kitchensink.util.ProgressiveSearchProvider"
            android:authorities="com.itude.mobile.kitchensink.util.ProgressiveSearchProvider" />
    </application>

</manifest>